{
  "extends": ["airbnb"],
  "rules": {
    "func-names": ["error", "never"],
    "no-underscore-dangle": [2, { "allow": ["_id", "__express", "__STORE__"] }]
  },
  "globals": {
    "expect": true
  },
  "env": {
    "browser": true
  }
}
