// This file contains all application CSS variables with some predefined
// ones divided in modules. Feel free to edit as you wish, just make sure
// the $font-size-base is set for some mixins not to break

// Brand colors
$brand-primary: #13c75f;
$brand-darken: #10a54f;
$brand-cta: #1bdf61;
$brand-active: #009bdb;

// Errors
$error-primary: #ff0000;
$error-hover: #c40000;
$error-pressed: #9e0000;

// Typography
$font-family-base: 'Montserrat', sans-serif;
$font-size-base: 14px;
$text-primary: #ededed;
$text-secondary: #d1d1d1;
$text-dark: #686868;
$text-darker: #3a3a3a;

// Background
$bg-primary: #13c75f;
$bg-light: #ededed;
$bg-lighter: #f7f7f7;
$bg-secondary: #d1d1d1;
$bg-dark: #686868;
$bg-darker: #3a3a3a;

// These are the breakpoint values which will be used by the media query mixins,
// you should probably leave it like this unless you want to create more breakpoints
$breakpoints: (
    xs: 576px,
    sm: 768px,
    md: 992px,
    lg: 1200px,
    xl: 1440px,
    xxl: 1920px,
);
