.login-form__control-group {
  height: 120px;
}

.login-form__loader-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 120px;

  .material-icons {
    color: rgb(0, 188, 212);
  }
}
